/*  Css reset   */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* Top Black Bar   */

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 81px;
  background-color: #000000;
  color: #ffffff;
}

.shop-logo {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.fa-cart-shopping {
  padding-right: 20px;
}

.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 13px;
}

.fa-phone-volume {
  padding-right: 14px;
}

.fa-envelope {
  padding-right: 14px;
}

/* Navigation bar */

.navigation {
  display: flex;
  flex-direction: row;
  padding: 50px 30px 50px 30px;
  justify-content: space-around;
}

.website-logo {
  height: 56px;
  padding-right: 20px;
}

.menu-overlay {
  display: flex;
}

.navbar {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding: 0px 50px 0px 50px;
  z-index: 1;
}

nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #000000;
  padding: 0px 10px 0px 10px;
}

nav ul li a:hover {
  font-weight: bold;
}

.login-search-basket {
  display: flex;
  flex-direction: row;
  font-size: 17px;
  width: 34%;
  justify-content: space-evenly;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

div div a {
  display: flex;
  flex-direction: row;
  color: black;
  text-decoration: none;
}

.fa-user {
  padding-right: 10px;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fa-magnifying-glass {
  padding-right: 10px;
}

.basket {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.fa-bag-shopping {
  font-size: 20px;
  padding-right: 10px;
}

/* first three boxes    */

main {
  width: 100%;
}

.three-row-boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.iphone-12 {
  color: white;
  border-radius: 30px;
  background-color: #080d13;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 26.33%;
}

.iphone-p-and-h {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 73px;
  padding-left: 20px;
}

.iphone-12-p {
  font-size: 19px;
  width: 86%;
  height: 28px;
}

.iphone-12-h {
  font-size: 37px;
  line-height: 1.2em;
  letter-spacing: -1.2px;
  text-transform: capitalize;
  width: 88%;
}

.iphone-button {
  padding-left: 32px;
}

.shop-by-category1 {
  background-color: rgb(59 130 246 / 0.5);
  padding: 24px;
  border-radius: 74px;
  font-size: 18px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  margin-top: -22px;
  width: 72%;
}

.iphone-image {
  width: 100%;
}

.shop-by-category1:hover {
  color: black;
  background-color: white;
}

.headphone {
  color: white;
  border-radius: 30px;
  background-image: linear-gradient(50deg, #ff5544 0%, #fd834d 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30.33%;
  position: relative;
}

.headphone-image {
  position: absolute;
  top: -19%;
  left: 7%;
}

.headphone-p-and-h {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 21%;
  position: absolute;
  top: 57%;
  left: 11%;
}

.headphone-p {
  width: 67%;
  font-size: 20px;
}

.headphone-h {
  font-size: 39px;
}

.headphone-button {
  position: absolute;
  top: 79%;
  left: 10%;
}

.shop-by-category2 {
  background-color: #000000;

  padding: 24px;
  border-radius: 74px;
  font-size: 18px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 20px;
  width: 115%;
}

.shop-by-category2:hover {
  background-color: white;
  color: black;
}

.macbook {
  color: white;
  border-radius: 30px;
  background-color: #080d13;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 28.33%;
}

.macbook-p-and-h {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.macbook-p {
  width: 80%;
  font-size: 20px;
}

.macbook-h {
  font-size: 38px;
  padding-left: 36px;
}

.macbook-button {
  height: 197px;
  padding-left: 33px;
}

.shop-by-category3 {
  background-color: rgb(59 130 246 / 0.5);
  padding: 24px;
  border-radius: 74px;
  font-size: 18px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 20px;
  width: 65%;
}

.shop-by-category3:hover {
  background-color: white;
  color: black;
}

.macbook-image {
  width: 100%;
}

/*  4 boxes    */

.four-boxes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
  width: 100%;
}

.iphone-12-again {
  height: 700px;
  border-radius: 40px;
  width: 28%;
  background: transparent
    radial-gradient(
      closest-side at 62% 71%,
      #cccccc 0%,
      #b7b8bc 44%,
      #86888c 100%
    );
  color: white;
  position: relative;
}

.iphone-12-again-p-and-h {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  justify-content: space-between;
  padding-top: 50px;
}

.iphone-12-again-p {
  font-size: 20px;
  width: 80%;
}

.iphone-12-again-h {
  font-size: 44px;
  width: 80%;
}

.speaker-image {
  width: 100%;
}

.shop-by-category-iphone-12-again {
  background-color: #000000;
  padding: 15px 10px 15px 10px;
  border-radius: 74px;
  font-size: 18px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 10px;
  width: 100%;
  margin-right: 128px;
}

.shop-by-category-iphone-12-again:hover {
  background-color: white;
  color: #000000;
}

.two-boxes-coloumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
  width: 33%;
}

.drone {
  border-radius: 40px;
  height: 330px;
  background-color: #d3d3d3;
  position: relative;
}

.drone-p-and-h {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 13%;
}

.drone-p {
  font-size: 20px;
  padding-bottom: 7px;
  padding-left: 36px;
}

.drone-h {
  padding-left: 34px;
  font-size: 36px;
}

.drone-h1 {
  font-size: 36px;
  padding-left: 34px;
}

.drone-image {
  position: relative;
  height: 100px;
}

.shop-by-category-drone {
  background-color: #ffffff;
  padding: 15px 0px 15px 0px;
  border-radius: 74px;
  font-size: 18px;
  border: none;
  color: black;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 10px;
  width: 65%;
  margin-left: 27px;
  margin-top: 17px;
}

.shop-by-category-drone:hover {
  background-color: #000000;
  color: white;
}

.image-drone {
  position: absolute;
  left: 45%;
  top: 102%;
}

.smart-watch {
  background-color: #cf2e2e;
  border-radius: 40px;
  height: 330px;
  color: white;
  position: relative;
}

.smart-watch-p-and-h {
  position: absolute;
  top: 15%;
}

.smart-watch-p {
  font-size: 20px;
  padding-bottom: 7px;
  padding-left: 36px;
}

.smart-watch-h {
  padding-left: 34px;
  font-size: 36px;
}

.smart-watch-h1 {
  font-size: 36px;
  padding-left: 34px;
}

.smart-watch-button {
  position: absolute;
  top: 51%;
}

.shop-by-category-smart-watch {
  background-color: #000000;
  padding: 15px 0px 15px 0px;
  border-radius: 74px;
  font-size: 18px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 10px;
  width: 196px;
  margin-left: 27px;
  margin-top: 17px;
}

.shop-by-category-smart-watch:hover {
  background-color: white;
  color: #000000;
}

.smart-watch-image {
  position: absolute;
  top: 51%;
  left: 43%;
}

.earphone {
  height: 700px;
  color: white;
  border-radius: 40px;
  background-color: #000000;
  width: 26%;
  position: relative;
}

.earphone-p-and-h {
  padding-top: 81px;
  padding-left: 15px;
  padding-bottom: 29px;
}

.earphone-12-p {
  font-size: 22px;
  margin-left: 25px;
}

.earphone-12-h {
  font-size: 40px;
  margin-left: 23px;
}

.earphone-12-h1 {
  font-size: 40px;
  margin-left: 23px;
}

.earphone-button {
}

.shop-by-category-earphone {
  background-color: rgb(255, 203, 112);
  padding: 15px 0px 15px 0px;
  border-radius: 74px;
  font-size: 18px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 10px;
  width: 196px;
  margin-left: 27px;
  margin-top: 17px;
}

.shop-by-category-earphone:hover {
  background-color: white;
  color: black;
}

.earphone-image {
  width: 100%;
  position: absolute;
  top: 60%;
  left: -8%;
}

/* Best Seller Product Part     */

.best-seller-product {
  padding: 20px;
  padding-top: 110px;
  padding-bottom: 45px;
}

.main-heading {
  font-size: 44px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.main-para {
  text-align: center;
  font-size: 17px;
  font-family: "Montserrat";
  opacity: 0.6;
  padding-top: 4px;
}

/* 8-boxes above  */

.first-4-boxes {
  display: flex;
  height: 366px;
  margin: 70px 0px;
}

.add-to-cart-button {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;

  opacity: 0;
}

.box1:hover .add-to-cart-button {
  opacity: 1;
}

.box2:hover .add-to-cart-button,
.box3:hover .add-to-cart-button,
.box4:hover .add-to-cart-button {
  opacity: 1;
}

.box5:hover .add-to-cart-button,
.box6:hover .add-to-cart-button,
.box7:hover .add-to-cart-button,
.box8:hover .add-to-cart-button {
  opacity: 1;
}

.box1:hover,
.box2:hover,
.box3:hover,
.box4:hover,
.box5:hover,
.box6:hover,
.box7:hover,
.box8:hover {
  transition: 1s;
  border: 2px solid;
  transform: scale(1.05);
  /* Increase the size by 5% */
}

.box1 {
  border: 2px solid rgb(0, 0, 0, 0.2);
  flex: 1;
  border-radius: 60px;
  margin: 10px;
  position: relative;
  transition: 0.5s;
}

.camera-image {
  height: 225px;
  padding-left: 43px;
  padding-right: 40px;
  margin-top: 3px;
  width: 98%;
}

.mp-and-box1-dollars {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 18px;
}

.box1-last-text {
  padding: 5px 5px 0px 35px;
  opacity: 0.6;
}

.box2 {
  border: 2px solid rgb(0, 0, 0, 0.2);
  flex: 1;
  border-radius: 60px;
  margin: 10px;
  position: relative;
}

.sale {
  display: inline;
  border-radius: 50%;
  padding: 17px;
  color: white;
  background-color: red;
  position: absolute;
  left: 7%;
  top: 11%;
}

.drone-image2 {
  height: 225px;
  padding-left: 43px;
  padding-right: 40px;
  margin-top: 3px;
  width: 99%;
}

.rm-and-box2-dollars {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  font-size: 18px;
}

.box2-dollars {
}

.box2-last-text {
  padding: 5px 5px 0px 35px;
  opacity: 0.6;
}

.box3 {
  border: 2px solid rgb(0, 0, 0, 0.2);
  flex: 1;
  border-radius: 60px;
  margin: 10px;
  position: relative;
}

.mr-and-box3-dollars {
  display: flex;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  top: 64%;
  left: 1%;
  width: 100%;
  justify-content: space-around;
}

.box3-dollars {
  opacity: 0.6;
}

.headphone2-image {
  position: absolute;
  height: 230px;
  left: 32px;
  top: 21px;
  width: 83%;
}

.sale-box3 {
  display: inline;
  border-radius: 50%;
  padding: 17px;
  color: white;
  background-color: red;
  position: absolute;
  left: 7%;
  top: 11%;
  z-index: 1;
}

.flex-last-texts-box3 {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 71%;
  left: -1%;
}

.box3-last-text {
  padding: 5px 5px 0px 35px;
  opacity: 0.6;
}

.box3-last-text2 {
  font-weight: bolder;
  display: flex;
  align-items: end;
}

.box4 {
  border: 2px solid rgb(0, 0, 0, 0.2);
  flex: 1;
  border-radius: 60px;
  margin: 10px;
  position: relative;
}

.laptop-image {
  height: 230px;
  position: absolute;
  left: 9%;
  top: 6%;
  width: 83%;
}

.ma-and-box4-dollars {
  position: absolute;
  top: 64%;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-weight: bolder;
  font-size: 18px;
}

.box4-last-text {
  opacity: 0.6;
  position: absolute;
  top: 72%;
  left: 12%;
}

/* 8-boxes below  */

.last-4-boxes {
  display: flex;
  height: 366px;
  margin: 70px 0px;
}

.box5 {
  flex: 1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin: 10px;
  border-radius: 60px;
  margin: 10px;
  position: relative;
  width: 83%;
}

.sale-box5 {
  display: inline;
  border-radius: 50%;
  padding: 17px;
  color: white;
  background-color: red;
  position: absolute;
  left: 7%;
  top: 11%;
  z-index: 1;
}

.joystick-image {
  position: absolute;
  height: 230px;
  left: 11%;
  top: 6%;
  width: 81%;
}

.sd-and-box5-dollars {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  top: 71%;
  font-size: 18px;
}

.flex-last-texts-box5 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  position: absolute;
  top: 80%;
}

.sd {
  font-weight: bolder;
}

.box5-last-text {
  opacity: 0.6;
}

.box5-last-text2 {
  font-weight: bolder;
}

.box6 {
  flex: 1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 60px;
  margin: 10px;
  position: relative;
  width: 83%;
}

.speaker2-image {
  position: absolute;
  height: 230px;
  width: auto;
  left: 10%;
  top: 10%;
  width: 81%;
}

.ds-and-box6-dollars {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 18px;
  font-weight: bolder;
  position: absolute;
  top: 71%;
}

.box6-last-text {
  opacity: 0.6;
  position: absolute;
  top: 80%;
  left: 8%;
}

.box7 {
  flex: 1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 60px;
  margin: 10px;
  position: relative;
  width: 83%;
}

.vr-image {
  position: absolute;
  height: 230px;
  width: auto;
  left: 10%;
  top: 10%;
  width: 81%;
}

.cw-and-box7-dollars {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 18px;
  font-weight: bolder;
  position: absolute;
  top: 71%;
}

.box7-last-text {
  opacity: 0.6;
  position: absolute;
  top: 80%;
  left: 12%;
}

.box8 {
  flex: 1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 60px;
  margin: 10px;
  position: relative;
  width: 83%;
}

.apple-smart-image {
  position: absolute;
  height: 230px;
  width: auto;
  left: 10%;
  top: 5%;
  width: 81%;
}

.aw-and-box8-dollars {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 18px;
  font-weight: bolder;
  position: absolute;
  top: 71%;
}

.box8-last-text {
  opacity: 0.6;
  position: absolute;
  top: 80%;
  left: 11%;
}

/* Laptop Part  */

.the-laptop-part {
  padding-top: 30px;
}

.the-laptop-of-tomorrow {
  margin: 30px;
  border-radius: 36px;
  background-image: url(https://demo.phlox.pro/shop-digital-2/wp-content/uploads/sites/274/2021/04/Mask-Group-23.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #1f2220;
  color: white;
  height: 422px;
  position: relative;
  background-position: initial;
}

.asus-and-loft {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 18%;
  top: 4%;
  height: 200px;
  justify-content: space-evenly;
}

.big-laptop-image {
  position: absolute;
  left: 38%;
  top: -43%;
}

.asus-para {
  font-size: 21px;
}

.asus-heading {
  font-size: 29px;
}

.shop-laptop {
  background-color: rgb(155, 81, 224);
  padding: 11px 0px 11px 0px;
  border-radius: 74px;
  font-size: 18px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 10px;
  width: 196px;
  margin-left: -4px;
  margin-top: 14px;
}

.shop-laptop:hover {
  background-color: white;
  color: black;
}

/* New Arrival Product part  */

.new-arrival-product {
  padding: 21px 5px 15px 41px;
}

.new-arrival-other-row-stuff {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.new-arrival-heading {
  font-size: 40px;
}

.arrow-left-right {
  width: 11%;
  text-align: center;
}

.fa-arrow-right {
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 9px;
  font-size: 26px;
  cursor: pointer;
}

.fa-arrow-left {
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 9px;
  font-size: 26px;
  cursor: pointer;
}

.new-arrival-para {
  padding-top: 4px;
  padding-left: 2px;
  opacity: 0.9;
}

.horizontal-line {
  width: 55%;
}

/* Scroll bar    */

.scroll-bar {
  display: flex;
  padding-top: 90px;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  /* Add smooth transition */

  overflow-x: scroll;
}

.box1-scroll-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 20px;
  height: 496px;
  position: relative;
}

.box1-scroll-bar:hover .add-to-cart-button,
.box2-scroll-bar:hover .add-to-cart-button,
.box3-scroll-bar:hover .add-to-cart-button,
.box4-scroll-bar:hover .add-to-cart-button,
.box5-scroll-bar:hover .add-to-cart-button,
.box6-scroll-bar:hover .add-to-cart-button,
.box7-scroll-bar:hover .add-to-cart-button {
  opacity: 1;
}

.box1-scroll-bar:hover,
.box2-scroll-bar:hover,
.box3-scroll-bar:hover,
.box4-scroll-bar:hover,
.box5-scroll-bar:hover,
.box6-scroll-bar:hover,
.box7-scroll-bar:hover {
  transition: 1s;
  border: 2px solid;
  transform: scale(1.05);
  /* Increase the size by 5% */
}

.box1-h1 {
  padding-right: 63px;
}

.speaker-image-scroll-bar {
  border-radius: 50px;
}

.box1-h1-p1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}

.box1-p2-p3 {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 25px;
}

.box2-scroll-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 20px;
  border-radius: 20px;
  position: relative;
}

.graphic-image-scroll-bar {
  border-radius: 50px;
}

.box2-h1-p1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}

.box2-p2-p3 {
  display: flex;
  justify-content: space-evenly;
}

.box3-scroll-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin: 20px;
  position: relative;
  border-radius: 20px;
}

.mutliroom-image-scroll-bar {
  border-radius: 50px;
}

.box3-h1-p1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}

.box3-p2-p3 {
  padding-left: 21px;
}

.box4-scroll-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin: 20px;
  border-radius: 20px;
  position: relative;
}

.iphone-image-scroll-bar {
  border-radius: 50px;
}

.box4-h1-p1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}

.box4-p2-p3 {
  display: flex;
  justify-content: space-evenly;
}

.box5-scroll-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);

  margin: 20px;
  border-radius: 20px;
  position: relative;
}

.mutliroom-image-scroll-bar {
  border-radius: 50px;
}

.box5-h1-p1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}

.box5-p2-p3 {
  padding-left: 21px;
}

.box6-scroll-bar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin: 20px;
  border-radius: 20px;
  position: relative;
}

.vr-image-scroll-bar {
  border-radius: 50px;
}

.box6-h1-p1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}

.box6-p2-p3 {
  padding-left: 21px;
  position: relative;
}

/* two boxes in a row   */

.two-boxes-row {
  display: flex;
  padding: 100px 0px 0px 0px;
  flex-direction: row;
}

.big-camera {
  flex: 1;
  background-color: #000000;
  position: relative;
  color: white;
  height: 413px;
  margin: 20px;
  border-radius: 15px;
}

.big-camera-image {
  width: 55%;
  height: auto;
  position: absolute;
  left: 45%;
  top: -2%;
}

.big-camera-components {
  position: absolute;
  left: 9%;
  top: 33%;
}

.big-camera-one {
  font-size: 23px;
}

.big-camera-second {
  font-size: 38px;
}

.big-camera-third {
  font-size: 38px;
  padding-bottom: 33px;
}

.shop-by-category-big-camera {
  background-color: rgb(59 130 246 / 0.5);
  padding: 14px;
  border-radius: 74px;
  font-size: 18px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  width: 90%;
}

.shop-by-category-big-camera:hover {
  background-color: white;
  color: black;
}

.big-joystick {
  flex: 1;
  background-color: blue;
  position: relative;
  height: 413px;
  color: white;
  margin: 20px;
  border-radius: 15px;
}

.big-joystick-image {
  position: absolute;
  width: 56%;
  top: 39%;
  left: 44%;
}

.big-joystick-components {
  position: absolute;
  left: 9%;
  top: 33%;
}

.big-joystick-one {
  font-size: 23px;
}

.big-joystick-second {
  font-size: 38px;
}

.big-joystick-third {
  font-size: 38px;
  padding-bottom: 28px;
}

.shop-by-category-big-joystick {
  background-color: rgba(243, 246, 59, 0.978);
  padding: 14px;
  border-radius: 74px;
  font-size: 18px;
  border: none;
  color: blue;
  cursor: pointer;
  transition: 0.5s;
  width: 90%;
}

.shop-by-category-big-joystick:hover {
  background-color: white;
  color: #000000;
}

.latest-post {
  text-align: center;
  padding-top: 50px;
  font-size: 32px;
  padding-bottom: 30px;
  padding-left: 22px;
  padding-right: 22px;
}

/* latest news part boxes  */

.latest-news-boxes {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  height: 380px;
  margin-bottom: 50px;
}

.latest-news-boxe1 {
  flex: 1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 20px;
  margin: 0px 10px 0px 10px;
}

.latest-news-boxe1:hover {
  background-image: url();
}

.latest-news-para-heading {
  position: absolute;
  height: 100%;
  width: 100%;
}

.latest-news-boxe1-one {
  position: absolute;
  font-size: 23px;
  top: 18%;
  left: 18%;
}

.latest-news-boxe1-three {
  position: absolute;
  top: 50%;
  left: 17%;
}

.latest-news-boxe1-two {
  position: absolute;
  top: 38%;
  left: 17%;
}

.latest-news-boxe1-four {
  position: absolute;
  top: 71%;
  width: 70%;
  height: 2%;
  background-color: blue;
  left: 17%;
}

.latest-news-boxe1-five {
  position: absolute;
  top: 83%;
  left: 18%;
  text-decoration: none;
  font-size: 19px;
  color: black;
}

.fa-arrow-right:before {
  content: "\f061";
  color: black;
}

.arrow {
  position: absolute;
  left: 54%;
  top: 80%;
  width: 16%;
  font-size: 30px;
  margin-left: 43px;
  padding: 8px;
  border: none;
}

.latest-news-boxe2 {
  flex: 1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 20px;
  margin: 0px 10px 0px 10px;
}

.latest-news-boxe3 {
  flex: 1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 20px;
  margin: 0px 10px 0px 10px;
}

.latest-news-boxe4 {
  flex: 1;
  border: 2px solid rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 20px;
  margin: 0px 10px 0px 10px;
}

/* Benefits our website will provide */

.benefits-of-our-service {
  padding-top: 45px;
  padding-bottom: 35px;
}

.benefits-of-our-service-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.benefits-of-our-service-box1 {
  display: flex;
  padding: 0px 30px 10px 10px;
}

.benefits-of-our-service-box2 {
  display: flex;
  padding: 0px 30px 10px 10px;
}

.benefits-of-our-service-box3 {
  display: flex;
  padding: 0px 30px 10px 10px;
}

.benefits-of-our-service-box4 {
  display: flex;
  padding: 0px 30px 10px 10px;
}

.fa-globe {
  font-size: 40px;
  padding-right: 20px;
}

.fa-box {
  font-size: 40px;
  padding-right: 20px;
}

.fa-money-bill {
  font-size: 40px;
  padding-right: 20px;
}

.fa-gift {
  font-size: 40px;
  padding-right: 20px;
}

/* Discount box   */

.discount-box {
  padding-top: 60px;
  padding-bottom: 30px;
}

.discount-big-box {
  display: flex;
  flex-direction: column;
  height: 573px;
  justify-content: center;
  align-items: center;
  margin: 0px 30px 0px 30px;
  border-radius: 90px;
  background-image: url(https://demo.phlox.pro/shop-digital-2/wp-content/uploads/sites/274/2021/04/macos-big-sur-apple-layers-fluidic-colorful-wwdc-stock-1920x1080-1455.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.discount-big-box1 {
  font-size: 20px;
}

.discount-big-box2 {
  font-size: 60px;
}

.discount-big-box3 {
  font-size: 60px;
  padding-bottom: 8px;
}

.form-part {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
}

#email {
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 14px;
  width: 98%;
  margin-top: 20px;
}

.get-started-button {
  background-color: white;
  border-radius: 74px;
  font-size: 18px;
  border: none;
  color: black;
  cursor: pointer;
  transition: 0.5s;
  width: 25%;
  height: 41px;
  margin-top: 20px;
  margin-left: 13px;
}

.get-started-button:hover {
  background-color: #000000;
  color: white;
}

/* Second last box */

.second-last-box {
  display: flex;
  justify-content: space-around;
  height: 200px;
  align-items: center;
  padding: 0px 31px;
}

.second-last-box1 {
  width: 26%;
}

.second-last-box2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  padding-top: 30px;
}

.second-last-box2-two:hover {
  text-decoration: underline;
}

.second-last-box2-three:hover {
  text-decoration: underline;
}

.second-last-box2-four:hover {
  text-decoration: underline;
}

.second-last-box3 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  padding-top: 26px;
}

.second-last-box3-two:hover {
  text-decoration: underline;
}

.second-last-box3-three:hover {
  text-decoration: underline;
}

.second-last-box3-four:hover {
  text-decoration: underline;
}

.second-last-box4 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  padding-top: 13px;
}

.second-last-box5 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  padding-top: 24px;
}

/* last block    */

.last-block {
  padding-top: 50px;
  position: relative;
}

.last-block-box-one {
  opacity: 0.6;
  width: 90%;
  position: absolute;
  left: 5%;
}

.last-block-box {
  padding-top: 40px;
  padding-left: 58px;
  display: flex;
  justify-content: space-between;
  padding-right: 65px;
  height: 80px;
}

.social-media-icons {
  display: flex;
  font-size: 22px;
  width: 12%;
  justify-content: space-evenly;
  transition: 0.5s;
}

.fa-square-instagram:hover {
  transform: scale(1.1);
}

.fa-facebook:hover {
  transform: scale(1.1);
}

.fa-twitter:hover {
  transform: scale(1.1);
}

.fa-linkedin:hover {
  transform: scale(1.1);
}

/* media queries */

@media screen and (max-width: 1252px) {
  /*    first button         */

  .shop-by-category1 {
    padding: 8px;
    font-size: 14px;
    width: 69%;
  }

  .shop-by-category2 {
    padding: 8px;
    font-size: 14px;
    width: 118%;
  }

  .shop-by-category3 {
    padding: 8px;
    font-size: 14px;
    width: 69%;
  }

  .macbook-p {
    width: 76%;
    font-size: 16px;
  }

  .macbook-h {
    font-size: 30px;
    padding-left: 36px;
    padding-right: 10px;
  }

  .headphone-p {
    width: 67%;
    font-size: 18px;
  }

  .headphone-h {
    font-size: 34px;
  }

  .iphone-12-p {
    font-size: 17px;
    width: 86%;
    height: 28px;
  }

  .iphone-12-h {
    font-size: 30px;
    line-height: 1.2em;
    letter-spacing: -1.2px;
    text-transform: capitalize;
    width: 88%;
  }

  /* iphone 12 again */

  .iphone-12-again-p {
    font-size: 19px;
  }

  .iphone-12-again-h {
    font-size: 37px;
  }

  .shop-by-category-iphone-12-again {
    font-size: 14px;
  }

  .drone-p {
    font-size: 17px;
  }

  .drone-h {
    font-size: 27px;
  }

  .drone-h1 {
    font-size: 28px;
  }

  .shop-by-category-drone {
    font-size: 14px;
  }

  .smart-watch-p {
    font-size: 18px;
  }

  .smart-watch-h {
    font-size: 28px;
  }

  .smart-watch-h1 {
    font-size: 28px;
  }

  .shop-by-category-smart-watch {
    font-size: 13px;
  }

  .smart-watch-image {
    left: 31%;
  }

  .earphone-12-h {
    font-size: 30px;
  }

  .earphone-12-h1 {
    font-size: 31px;
  }

  .shop-by-category-earphone {
    font-size: 14px;
    width: 52%;
    margin-left: 36px;
  }

  .earphone-image {
    top: 65%;
  }
}

@media screen and (max-width: 1182px) {
  .asus-and-loft {
    left: 12%;
    top: 4%;
  }

  .headphone-image {
    position: absolute;
    top: -19%;
    left: -5%;
    height: 53%;
    width: 100%;
  }

  .image-drone {
    position: absolute;
    left: 35%;
    top: 117%;
  }

  .latest-news-boxe1-one {
    font-size: 22px;
  }

  .latest-news-boxe1-two {
    font-size: 22px;
  }

  .latest-news-boxe1-three {
    font-size: 22px;
  }

  .login-search-basket {
    display: flex;
    flex-direction: row;
    font-size: 17px;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 1116px) {
  .latest-news-boxe1-one {
    font-size: 17px;
  }

  .latest-news-boxe1-two {
    font-size: 17px;
  }

  .latest-news-boxe1-three {
    font-size: 17px;
  }
}

@media screen and (max-width: 990px) {
  .three-row-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1500px;
    margin: 0px 20px;
  }

  .iphone-12 {
    border: 2px solid;
    background-color: #080d13;
    color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    flex: 1;
    margin-bottom: 20px;
    height: 450px;
    width: 100%;
  }

  .iphone-p-and-h {
    width: 78%;
    padding-left: 78px;
    padding-top: 24px;
    padding-bottom: 20px;
    height: 31%;
  }

  .iphone-button {
    position: relative;
  }

  .shop-by-category1 {
    background-color: rgb(59 130 246 / 0.5);
    padding: 12px;
    border-radius: 74px;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    margin-top: -22px;
    width: 20%;
    left: 12%;
    position: absolute;
  }

  .iphone-image {
    width: 50%;
  }

  .headphone {
    background-image: linear-gradient(50deg, #ff5544 0%, #fd834d 100%);
    border-radius: 50px;
    border: none;
    color: white;
    flex: 1;
    margin-bottom: 20px;
    height: 450px;
    width: 100%;
  }

  .h-i {
    height: 50%;
    position: relative;
  }

  .headphone-image {
    position: absolute;
    left: 31%;
    bottom: -34%;
    width: 36%;
    height: 311px;
  }

  .headphone-p-and-h {
    height: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 37px;
  }

  .headphone-p {
    width: 67%;
    font-size: 20px;
  }

  .headphone-h {
    font-size: 39px;
  }

  .shop-by-category2 {
    background-color: #000000;
    padding: 14px;
    border-radius: 74px;
    font-size: 19px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
    width: 105%;
    margin-left: 21%;
  }

  .macbook {
    border: 2px solid;
    background-color: #080d13;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 50px;
    flex: 1;
    height: 450px;
    width: 100%;
  }

  .macbook-p-and-h {
    font-size: 23px;
    padding-left: 55px;
    padding-top: 37px;
    width: 63%;
  }

  .shop-by-category3 {
    background-color: rgb(59 130 246 / 0.5);
    padding: 15px;
    border-radius: 74px;
    font-size: 18px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
    margin-left: 9%;
    width: 26%;
  }

  .macbook-image {
    width: 50%;
  }

  /* Four Boxes */

  .four-boxes {
    display: flex;
    padding-top: 30px;
    width: 95%;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }

  .iphone-12-again {
    height: 611px;
    border-radius: 50px;
    width: 100%;
    background: transparent
      radial-gradient(
        closest-side at 62% 71%,
        #cccccc 0%,
        #b7b8bc 44%,
        #86888c 100%
      );
    color: white;
    position: relative;
  }

  .iphone-12-again-p-and-h {
    height: 100%;
  }

  .shop-by-category-iphone-12-again {
    margin: 0px;
    margin-top: 10px;
    position: absolute;
    width: 26%;
    left: 10%;
  }

  .two-boxes-coloumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 746px;
    margin: 50px;
  }

  .drone-p {
    font-size: 25px;
  }

  .drone-h {
    font-size: 48px;
  }

  .drone-h1 {
    font-size: 48px;
  }

  .shop-by-category-drone {
    font-size: 21px;
  }

  .image-drone {
    position: absolute;
    left: 56%;
    top: 28%;
    transform: scale(1.6);
  }

  .smart-watch-p {
    font-size: 30px;
  }

  .smart-watch-h {
    font-size: 48px;
  }

  .smart-watch-h1 {
    font-size: 48px;
  }

  .smart-watch-button {
    position: absolute;
    top: 64%;
  }

  .smart-watch-image {
    left: 58%;
    top: 35%;
    transform: scale(1.6);
  }

  .earphone {
    height: 500px;
    color: white;
    border-radius: 40px;
    background-color: #000000;
    width: 100%;
    position: relative;
  }

  .earphone-12-p {
    font-size: 30px;
    margin-left: 25px;
  }

  .earphone-12-h {
    font-size: 48px;
  }

  .earphone-12-h1 {
    font-size: 48px;
  }

  .shop-by-category-earphone {
    font-size: 17px;
    width: 22%;
    margin-left: 36px;
  }

  .earphone-image {
    top: -9%;
    transform: scale(0.5);
    position: absolute;
    left: 30%;
  }

  .first-4-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 23px;
    margin: 0px 20px;
    height: 722px;
  }

  .last-4-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 23px;
    margin: 0px 20px;
    height: 722px;
    margin-bottom: 70px;
    margin-top: 30px;
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6,
  .box7,
  .box8 {
    margin: 0px;
  }

  .box5,
  .box6,
  .box7,
  .box8 {
    width: 100%;
  }

  .the-laptop-of-tomorrow {
    margin: 30px;
    border-radius: 36px;
    background-image: url(https://demo.phlox.pro/shop-digital-2/wp-content/uploads/sites/274/2021/04/Mask-Group-23.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1f2220;
    color: white;
    height: 387px;
    position: relative;
    background-position: center;
  }

  .asus-and-loft {
    left: 3%;
    top: 26%;
    position: absolute;
  }

  .big-laptop-image {
    position: absolute;
    left: 43%;
    top: -18%;
    width: 64%;
  }

  .two-boxes-row {
    display: flex;
    padding: 100px 0px 0px 0px;
    flex-direction: column;
    height: 1127px;
  }

  .big-joystick-image {
    position: absolute;
    width: 56%;
    top: 29%;
    left: 49%;
    transform: scale(0.8);
  }

  .latest-news-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 517px;
    gap: 26px;
  }

  .benefits-of-our-service-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .benefits-of-our-service-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    margin-left: 14px;
  }

  .discount-big-box1 {
    font-size: 16px;
  }

  .discount-big-box2 {
    font-size: 38px;
  }

  .discount-big-box3 {
    font-size: 36px;
    padding-bottom: 8px;
  }

  #email {
    padding: 8px;
    width: 98%;
    margin-top: 20px;
  }

  .get-started-button {
    font-size: 14px;
  }

  .second-last-box1 {
    display: none;
  }

  .second-last-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 412px;
    gap: 33px;
    margin-left: 50px;
  }

  .last-block-box {
    padding-top: inherit;
    display: flex;
    justify-content: center;
    height: 80px;
    flex-direction: column;
    align-items: center;
  }

  .social-media-icons {
    display: flex;
    font-size: 22px;
    width: 46%;
    justify-content: space-evenly;
    transition: 0.5s;
    margin-top: 20px;
  }

  .menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
    transition: opacity 0.3s ease;
    /* Add transition property */
  }

  .navbar {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .navbar a {
    display: block;
    margin: 10px;
    text-decoration: none;
    color: #333;
    font-size: 31px;
  }

  .navbar a:hover {
    font-weight: bold;
  }

  .login-search-basket {
    font-size: 14px;
    width: 74%;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .line {
    width: 23px;
    height: 2px;
    background-color: black;
    margin: 3px 3px;
  }

  .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 116px;
    background-color: #000000;
    color: #ffffff;
    flex-direction: column;
    font-size: 13px;
  }
}

@media screen and (max-width: 492px) {
  #email {
    padding: 5px;
    width: 62%;
    margin-top: 18px;
    font-size: 9px;
  }

  .get-started-button {
    font-size: 6px;
    height: 20px;
  }

  .discount-big-box1 {
    font-size: 10px;
  }

  .discount-big-box2 {
    font-size: 21px;
  }

  .discount-big-box3 {
    font-size: 18px;
    padding-bottom: 8px;
  }

  .discount-big-box {
    height: 300px;
  }

  .second-last-box {
    font-size: 10px;
  }

  .last-block {
    font-size: 12px;
  }

  .latest-news-boxe1-one {
    font-size: 10px;
  }

  .latest-news-boxe1-two {
    font-size: 10px;
  }

  .latest-news-boxe1-three {
    font-size: 10px;
  }

  .arrow {
    position: absolute;
    left: 54%;
    top: 79%;
    width: 0%;
    font-size: 16px;
    margin-left: 20px;
    padding: 8px;
    border: none;
  }

  .latest-news-boxe1-five {
    position: absolute;
    top: 83%;
    left: 18%;
    text-decoration: none;
    font-size: 13px;
    color: black;
  }

  .the-laptop-of-tomorrow {
    height: 299px;
  }

  .asus-para {
    font-size: 10px;
  }

  .asus-heading {
    font-size: 12px;
  }

  .shop-laptop {
    background-color: rgb(155, 81, 224);
    padding: 11px 0px 11px 0px;
    border-radius: 74px;
    font-size: 13px;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
    width: 124px;
    margin-left: -4px;
    margin-top: 14px;
  }

  .big-laptop-image {
    position: absolute;
    left: 43%;
    top: 25%;
    width: 64%;
  }

  .login-search-basket {
    font-size: 0px;
  }

  .iphone-12-p {
    font-size: 13px;
  }

  .iphone-12-h {
    font-size: 20px;
  }

  .shop-by-category1 {
    width: 46%;
  }
}
